@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter';
    background-color: #1c1c1c;
    color: white;
    overflow-y: auto;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    overflow-y:auto;
}

#master-div {
  position: fixed;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}


h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textarea-container {
    position: relative;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    padding: 12px;
    padding-right: 100px; /* Add space for the button */
    background-color: #222;
    border-image: linear-gradient(40deg, rgb(0,143,104), rgb(250,224,66)) 1;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    color: #ffffff;

}

.textarea-button {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

button {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #0057b7;
}

.result-container {
    margin-top: 24px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.result-box {
    background-color: #333;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.result-box strong {
    font-weight: bold;
}

.metrics-container {
    display: flex;
    gap: 16px;
}

.metric-box {
    width: calc(50% - 8px);
    background-color: #333;
    border-radius: 8px;
    padding: 16px;
}

.metric-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.metric-box hr {
    border-color: #555;
    margin-bottom: 16px;
}

.info-box {
    background-color: #333;
    border-radius: 8px;
    padding: 16px;
}

.info-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

textarea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0070f3;
}

.main-content {
    overflow-y: auto;
}
