<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abusive Language Detection</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css") }}>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
    </style>
</head>
<body class="bg-gray-900 text-white">
    <div id="master-div">
    <div class="container mx-auto px-4 py-16 max-w-7xl main-content">
        <h1 class="text-4xl font-bold mb-8">Abusive Language Detection</h1>
        {% if not result %} 
        <form method="POST" class="space-y-6" id="form">
            <div class="textarea-container relative">
                <textarea 
                    name="text" 
                    rows="5" 
                    cols="50" 
                    placeholder="Enter text here..." 
                    class="w-full p-4 bg-gray-800 rounded-lg border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 pr-20"
                ></textarea>

                <button type="submit" value="Check" class="textarea-button absolute inset-y-0 right-4 px-6 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg text-white font-semibold transition duration-300 ease-in-out">
                    Predict
                </button>
            </div>
        </form>
        {% endif %}
        {% if result %}
            <div class="mt-12 space-y-8">
                <h2 class="text-2xl font-semibold">Result:</h2>
                
                <div class="bg-gray-800 rounded-lg p-6">
                    <p><strong>Text:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ result.text }}</p>
                    <p><strong>Prediction:</strong>&nbsp;&nbsp;&nbsp;&nbsp; {{ result.prediction }}</p>
                </div>

                <div class="flex flex-col md:flex-row justify-between gap-8">
                    <div class="bg-gray-800 rounded-lg p-6 w-full md:w-1/2">
                        <h3 class="font-semibold mb-4">Performance Metrics:</h3>
                        <hr class="border-gray-700 mb-4">
                        <p><strong>Accuracy:</strong> {{ result.accuracy }}</p>
                        <p><strong>Precision:</strong> {{ result.precision }}</p>
                        <p><strong>F1 Score:</strong> {{ result.f1_score }}</p>
                    </div>

                    <div class="bg-gray-800 rounded-lg p-6 w-full md:w-1/2">
                        <h3 class="font-semibold mb-4">Classification Report:</h3>
                        <hr class="border-gray-700 mb-4">
                        <pre>{{ result.classification_report }}</pre>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>

    </div>
    <script>
      function hide_content() {
        document.getElementById("form").style.display="none";
      }
    </script>
     
   </body>
</html>
